 #cv-form{
    background-color: rgb(255, 255, 240);
}
#cv-template{
    display: none;
}
.myimg{
    width: 200px;
    border-radius: 50%;
    height: 200px;
}

.background{
    background-color: cadetblue;
    color: azure;
}